.title-text {
  color: #fff;
  text-align: left;
  margin-top: 8em;
}

.title-text h2{
font-size: 36;
}

.title-text p{
  font-size: 20;
  font-weight: bold;
  align-self: center;
}

.center{
  text-align: center;
}

@media all and (max-width: 912px) {

}
